body {
    background-color: white;
}

.site-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content__main {
    flex: 1 0 auto;
}

.center-column {
    margin: 0 var(--spacing-default);
}

@media (min-width: 635px) {
    .center-column {
        margin: 0 auto;
        width: 600px;
    }
}

.site-content__back-button {
    margin-top: var(--spacing-double);
}
